/**
 * Cards
 *
 * Adds functionality to the base bootstrap cards element
 */

.card {
  position: relative;
  &.selected {
    background-color: $primary;
    color: $white;
  }

  .card-footer {
    background: $card-footer-bg;
  }

  &-basket-button{
    background-color: $teal;
    border: 0px;
    color: white;
    padding: 5px 20px;
    transition: opacity 0.3s;

    &-remove{
      background-color: $coral;
    }

    &:hover{
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
