/**
 * Lendahand icon font
 * At some point we would like to have this as an npm dependency from
 * https://gitlab.com/lendahand/lendahand-icon-font again. However, webpacker
 * does not support lifting assets at the moment.
 */

/**
 * Font face declaration
 */

@font-face {
  font-family: "lendahand-icon-font";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("#{$lendahand-icon-font-path}/lendahand-icon-font.eot");
  src: url("#{$lendahand-icon-font-path}/lendahand-icon-font.eot#iefix")
      format("embedded-opentype"),
    url("#{$lendahand-icon-font-path}/lendahand-icon-font.woff2")
      format("woff2"),
    url("#{$lendahand-icon-font-path}/lendahand-icon-font.woff") format("woff"),
    url("#{$lendahand-icon-font-path}/lendahand-icon-font.ttf")
      format("truetype"),
    url("#{$lendahand-icon-font-path}/lendahand-icon-font.svg#lendahand-icon-font")
      format("svg");
}

[class^="lahi-"]:before,
[class*=" lahi-"]:before {
  font-family: "lendahand-icon-font";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/**
 * custom icon declarations
 */
.lahi-nothing::before {
  content: " ";
}

/**
 * Font codes
 */

.lahi-glass:before {
  content: "\e800";
} /* '' */
.lahi-music:before {
  content: "\e801";
} /* '' */
.lahi-search:before {
  content: "\e802";
} /* '' */
.lahi-mail:before {
  content: "\e803";
} /* '' */
.lahi-mail-alt:before {
  content: "\e804";
} /* '' */
.lahi-mail-squared:before {
  content: "\e805";
} /* '' */
.lahi-heart:before {
  content: "\e806";
} /* '' */
.lahi-heart-empty:before {
  content: "\e807";
} /* '' */
.lahi-star:before {
  content: "\e808";
} /* '' */
.lahi-star-empty:before {
  content: "\e809";
} /* '' */
.lahi-star-half:before {
  content: "\e80a";
} /* '' */
.lahi-star-half-alt:before {
  content: "\e80b";
} /* '' */
.lahi-user:before {
  content: "\e80c";
} /* '' */
.lahi-user-plus:before {
  content: "\e80d";
} /* '' */
.lahi-user-times:before {
  content: "\e80e";
} /* '' */
.lahi-users:before {
  content: "\e80f";
} /* '' */
.lahi-male:before {
  content: "\e810";
} /* '' */
.lahi-female:before {
  content: "\e811";
} /* '' */
.lahi-child:before {
  content: "\e812";
} /* '' */
.lahi-user-secret:before {
  content: "\e813";
} /* '' */
.lahi-video:before {
  content: "\e814";
} /* '' */
.lahi-videocam:before {
  content: "\e815";
} /* '' */
.lahi-picture:before {
  content: "\e816";
} /* '' */
.lahi-camera:before {
  content: "\e817";
} /* '' */
.lahi-camera-alt:before {
  content: "\e818";
} /* '' */
.lahi-th-large:before {
  content: "\e819";
} /* '' */
.lahi-th:before {
  content: "\e81a";
} /* '' */
.lahi-th-list:before {
  content: "\e81b";
} /* '' */
.lahi-ok:before {
  content: "\e81c";
} /* '' */
.lahi-ok-circled:before {
  content: "\e81d";
} /* '' */
.lahi-ok-circled2:before {
  content: "\e81e";
} /* '' */
.lahi-ok-squared:before {
  content: "\e81f";
} /* '' */
.lahi-cancel:before {
  content: "\e820";
} /* '' */
.lahi-cancel-circled:before {
  content: "\e821";
} /* '' */
.lahi-cancel-circled2:before {
  content: "\e822";
} /* '' */
.lahi-plus:before {
  content: "\e823";
} /* '' */
.lahi-plus-circled:before {
  content: "\e824";
} /* '' */
.lahi-plus-squared:before {
  content: "\e825";
} /* '' */
.lahi-plus-squared-alt:before {
  content: "\e826";
} /* '' */
.lahi-minus:before {
  content: "\e827";
} /* '' */
.lahi-minus-circled:before {
  content: "\e828";
} /* '' */
.lahi-minus-squared:before {
  content: "\e829";
} /* '' */
.lahi-minus-squared-alt:before {
  content: "\e82a";
} /* '' */
.lahi-help:before {
  content: "\e82b";
} /* '' */
.lahi-help-circled:before {
  content: "\e82c";
} /* '' */
.lahi-info-circled:before {
  content: "\e82d";
} /* '' */
.lahi-info:before {
  content: "\e82e";
} /* '' */
.lahi-home:before {
  content: "\e82f";
} /* '' */
.lahi-link:before {
  content: "\e830";
} /* '' */
.lahi-unlink:before {
  content: "\e831";
} /* '' */
.lahi-link-ext:before {
  content: "\e832";
} /* '' */
.lahi-link-ext-alt:before {
  content: "\e833";
} /* '' */
.lahi-attach:before {
  content: "\e834";
} /* '' */
.lahi-lock:before {
  content: "\e835";
} /* '' */
.lahi-lock-open:before {
  content: "\e836";
} /* '' */
.lahi-lock-open-alt:before {
  content: "\e837";
} /* '' */
.lahi-pin:before {
  content: "\e838";
} /* '' */
.lahi-eye:before {
  content: "\e839";
} /* '' */
.lahi-eye-off:before {
  content: "\e83a";
} /* '' */
.lahi-tag:before {
  content: "\e83b";
} /* '' */
.lahi-tags:before {
  content: "\e83c";
} /* '' */
.lahi-bookmark:before {
  content: "\e83d";
} /* '' */
.lahi-bookmark-empty:before {
  content: "\e83e";
} /* '' */
.lahi-flag:before {
  content: "\e83f";
} /* '' */
.lahi-flag-empty:before {
  content: "\e840";
} /* '' */
.lahi-flag-checkered:before {
  content: "\e841";
} /* '' */
.lahi-thumbs-up:before {
  content: "\e842";
} /* '' */
.lahi-thumbs-down:before {
  content: "\e843";
} /* '' */
.lahi-thumbs-up-alt:before {
  content: "\e844";
} /* '' */
.lahi-thumbs-down-alt:before {
  content: "\e845";
} /* '' */
.lahi-download:before {
  content: "\e846";
} /* '' */
.lahi-upload:before {
  content: "\e847";
} /* '' */
.lahi-download-cloud:before {
  content: "\e848";
} /* '' */
.lahi-upload-cloud:before {
  content: "\e849";
} /* '' */
.lahi-reply:before {
  content: "\e84a";
} /* '' */
.lahi-reply-all:before {
  content: "\e84b";
} /* '' */
.lahi-forward:before {
  content: "\e84c";
} /* '' */
.lahi-quote-left:before {
  content: "\e84d";
} /* '' */
.lahi-quote-right:before {
  content: "\e84e";
} /* '' */
.lahi-code:before {
  content: "\e84f";
} /* '' */
.lahi-export:before {
  content: "\e850";
} /* '' */
.lahi-export-alt:before {
  content: "\e851";
} /* '' */
.lahi-share:before {
  content: "\e852";
} /* '' */
.lahi-share-squared:before {
  content: "\e853";
} /* '' */
.lahi-pencil:before {
  content: "\e854";
} /* '' */
.lahi-pencil-squared:before {
  content: "\e855";
} /* '' */
.lahi-edit:before {
  content: "\e856";
} /* '' */
.lahi-print:before {
  content: "\e857";
} /* '' */
.lahi-retweet:before {
  content: "\e858";
} /* '' */
.lahi-keyboard:before {
  content: "\e859";
} /* '' */
.lahi-gamepad:before {
  content: "\e85a";
} /* '' */
.lahi-comment:before {
  content: "\e85b";
} /* '' */
.lahi-chat:before {
  content: "\e85c";
} /* '' */
.lahi-comment-empty:before {
  content: "\e85d";
} /* '' */
.lahi-chat-empty:before {
  content: "\e85e";
} /* '' */
.lahi-bell:before {
  content: "\e85f";
} /* '' */
.lahi-bell-alt:before {
  content: "\e860";
} /* '' */
.lahi-bell-off:before {
  content: "\e861";
} /* '' */
.lahi-bell-off-empty:before {
  content: "\e862";
} /* '' */
.lahi-attention-alt:before {
  content: "\e863";
} /* '' */
.lahi-attention:before {
  content: "\e864";
} /* '' */
.lahi-attention-circled:before {
  content: "\e865";
} /* '' */
.lahi-location:before {
  content: "\e866";
} /* '' */
.lahi-direction:before {
  content: "\e867";
} /* '' */
.lahi-compass:before {
  content: "\e868";
} /* '' */
.lahi-trash:before {
  content: "\e869";
} /* '' */
.lahi-trash-empty:before {
  content: "\e86a";
} /* '' */
.lahi-doc:before {
  content: "\e86b";
} /* '' */
.lahi-docs:before {
  content: "\e86c";
} /* '' */
.lahi-doc-text:before {
  content: "\e86d";
} /* '' */
.lahi-doc-inv:before {
  content: "\e86e";
} /* '' */
.lahi-doc-text-inv:before {
  content: "\e86f";
} /* '' */
.lahi-file-pdf:before {
  content: "\e870";
} /* '' */
.lahi-file-word:before {
  content: "\e871";
} /* '' */
.lahi-file-excel:before {
  content: "\e872";
} /* '' */
.lahi-file-powerpoint:before {
  content: "\e873";
} /* '' */
.lahi-file-image:before {
  content: "\e874";
} /* '' */
.lahi-file-archive:before {
  content: "\e875";
} /* '' */
.lahi-file-audio:before {
  content: "\e876";
} /* '' */
.lahi-file-video:before {
  content: "\e877";
} /* '' */
.lahi-file-code:before {
  content: "\e878";
} /* '' */
.lahi-folder:before {
  content: "\e879";
} /* '' */
.lahi-folder-open:before {
  content: "\e87a";
} /* '' */
.lahi-folder-empty:before {
  content: "\e87b";
} /* '' */
.lahi-folder-open-empty:before {
  content: "\e87c";
} /* '' */
.lahi-box:before {
  content: "\e87d";
} /* '' */
.lahi-rss:before {
  content: "\e87e";
} /* '' */
.lahi-rss-squared:before {
  content: "\e87f";
} /* '' */
.lahi-phone:before {
  content: "\e880";
} /* '' */
.lahi-phone-squared:before {
  content: "\e881";
} /* '' */
.lahi-fax:before {
  content: "\e882";
} /* '' */
.lahi-menu:before {
  content: "\e883";
} /* '' */
.lahi-cog:before {
  content: "\e884";
} /* '' */
.lahi-cog-alt:before {
  content: "\e885";
} /* '' */
.lahi-wrench:before {
  content: "\e886";
} /* '' */
.lahi-sliders:before {
  content: "\e887";
} /* '' */
.lahi-basket:before {
  content: "\e888";
} /* '' */
.lahi-cart-plus:before {
  content: "\e889";
} /* '' */
.lahi-cart-arrow-down:before {
  content: "\e88a";
} /* '' */
.lahi-calendar:before {
  content: "\e88b";
} /* '' */
.lahi-calendar-empty:before {
  content: "\e88c";
} /* '' */
.lahi-login:before {
  content: "\e88d";
} /* '' */
.lahi-logout:before {
  content: "\e88e";
} /* '' */
.lahi-mic:before {
  content: "\e88f";
} /* '' */
.lahi-mute:before {
  content: "\e890";
} /* '' */
.lahi-volume-off:before {
  content: "\e891";
} /* '' */
.lahi-volume-down:before {
  content: "\e892";
} /* '' */
.lahi-volume-up:before {
  content: "\e893";
} /* '' */
.lahi-headphones:before {
  content: "\e894";
} /* '' */
.lahi-clock:before {
  content: "\e895";
} /* '' */
.lahi-lightbulb:before {
  content: "\e896";
} /* '' */
.lahi-block:before {
  content: "\e897";
} /* '' */
.lahi-resize-full:before {
  content: "\e898";
} /* '' */
.lahi-resize-full-alt:before {
  content: "\e899";
} /* '' */
.lahi-resize-small:before {
  content: "\e89a";
} /* '' */
.lahi-resize-vertical:before {
  content: "\e89b";
} /* '' */
.lahi-resize-horizontal:before {
  content: "\e89c";
} /* '' */
.lahi-move:before {
  content: "\e89d";
} /* '' */
.lahi-zoom-in:before {
  content: "\e89e";
} /* '' */
.lahi-zoom-out:before {
  content: "\e89f";
} /* '' */
.lahi-down-circled2:before {
  content: "\e8a0";
} /* '' */
.lahi-up-circled2:before {
  content: "\e8a1";
} /* '' */
.lahi-left-circled2:before {
  content: "\e8a2";
} /* '' */
.lahi-right-circled2:before {
  content: "\e8a3";
} /* '' */
.lahi-down-dir:before {
  content: "\e8a4";
} /* '' */
.lahi-up-dir:before {
  content: "\e8a5";
} /* '' */
.lahi-left-dir:before {
  content: "\e8a6";
} /* '' */
.lahi-right-dir:before {
  content: "\e8a7";
} /* '' */
.lahi-down-open:before {
  content: "\e8a8";
} /* '' */
.lahi-left-open:before {
  content: "\e8a9";
} /* '' */
.lahi-right-open:before {
  content: "\e8aa";
} /* '' */
.lahi-up-open:before {
  content: "\e8ab";
} /* '' */
.lahi-angle-left:before {
  content: "\e8ac";
} /* '' */
.lahi-angle-right:before {
  content: "\e8ad";
} /* '' */
.lahi-angle-up:before {
  content: "\e8ae";
} /* '' */
.lahi-angle-down:before {
  content: "\e8af";
} /* '' */
.lahi-angle-circled-left:before {
  content: "\e8b0";
} /* '' */
.lahi-angle-circled-right:before {
  content: "\e8b1";
} /* '' */
.lahi-angle-circled-up:before {
  content: "\e8b2";
} /* '' */
.lahi-angle-circled-down:before {
  content: "\e8b3";
} /* '' */
.lahi-angle-double-left:before {
  content: "\e8b4";
} /* '' */
.lahi-angle-double-right:before {
  content: "\e8b5";
} /* '' */
.lahi-angle-double-up:before {
  content: "\e8b6";
} /* '' */
.lahi-angle-double-down:before {
  content: "\e8b7";
} /* '' */
.lahi-down:before {
  content: "\e8b8";
} /* '' */
.lahi-left:before {
  content: "\e8b9";
} /* '' */
.lahi-right:before {
  content: "\e8ba";
} /* '' */
.lahi-up:before {
  content: "\e8bb";
} /* '' */
.lahi-down-big:before {
  content: "\e8bc";
} /* '' */
.lahi-left-big:before {
  content: "\e8bd";
} /* '' */
.lahi-right-big:before {
  content: "\e8be";
} /* '' */
.lahi-up-big:before {
  content: "\e8bf";
} /* '' */
.lahi-right-hand:before {
  content: "\e8c0";
} /* '' */
.lahi-left-hand:before {
  content: "\e8c1";
} /* '' */
.lahi-up-hand:before {
  content: "\e8c2";
} /* '' */
.lahi-down-hand:before {
  content: "\e8c3";
} /* '' */
.lahi-left-circled:before {
  content: "\e8c4";
} /* '' */
.lahi-right-circled:before {
  content: "\e8c5";
} /* '' */
.lahi-up-circled:before {
  content: "\e8c6";
} /* '' */
.lahi-down-circled:before {
  content: "\e8c7";
} /* '' */
.lahi-cw:before {
  content: "\e8c8";
} /* '' */
.lahi-ccw:before {
  content: "\e8c9";
} /* '' */
.lahi-arrows-cw:before {
  content: "\e8ca";
} /* '' */
.lahi-level-up:before {
  content: "\e8cb";
} /* '' */
.lahi-level-down:before {
  content: "\e8cc";
} /* '' */
.lahi-shuffle:before {
  content: "\e8cd";
} /* '' */
.lahi-exchange:before {
  content: "\e8ce";
} /* '' */
.lahi-history:before {
  content: "\e8cf";
} /* '' */
.lahi-expand:before {
  content: "\e8d0";
} /* '' */
.lahi-collapse:before {
  content: "\e8d1";
} /* '' */
.lahi-expand-right:before {
  content: "\e8d2";
} /* '' */
.lahi-collapse-left:before {
  content: "\e8d3";
} /* '' */
.lahi-play:before {
  content: "\e8d4";
} /* '' */
.lahi-play-circled:before {
  content: "\e8d5";
} /* '' */
.lahi-play-circled2:before {
  content: "\e8d6";
} /* '' */
.lahi-stop:before {
  content: "\e8d7";
} /* '' */
.lahi-pause:before {
  content: "\e8d8";
} /* '' */
.lahi-to-end:before {
  content: "\e8d9";
} /* '' */
.lahi-to-end-alt:before {
  content: "\e8da";
} /* '' */
.lahi-to-start:before {
  content: "\e8db";
} /* '' */
.lahi-to-start-alt:before {
  content: "\e8dc";
} /* '' */
.lahi-fast-fw:before {
  content: "\e8dd";
} /* '' */
.lahi-fast-bw:before {
  content: "\e8de";
} /* '' */
.lahi-eject:before {
  content: "\e8df";
} /* '' */
.lahi-target:before {
  content: "\e8e0";
} /* '' */
.lahi-signal:before {
  content: "\e8e1";
} /* '' */
.lahi-wifi:before {
  content: "\e8e2";
} /* '' */
.lahi-award:before {
  content: "\e8e3";
} /* '' */
.lahi-desktop:before {
  content: "\e8e4";
} /* '' */
.lahi-laptop:before {
  content: "\e8e5";
} /* '' */
.lahi-tablet:before {
  content: "\e8e6";
} /* '' */
.lahi-mobile:before {
  content: "\e8e7";
} /* '' */
.lahi-inbox:before {
  content: "\e8e8";
} /* '' */
.lahi-globe:before {
  content: "\e8e9";
} /* '' */
.lahi-solar:before {
  content: "\e8ea";
} /* '' */
.lahi-cloud:before {
  content: "\e8eb";
} /* '' */
.lahi-flash:before {
  content: "\e8ec";
} /* '' */
.lahi-moon:before {
  content: "\e8ed";
} /* '' */
.lahi-umbrella:before {
  content: "\e8ee";
} /* '' */
.lahi-flight:before {
  content: "\e8ef";
} /* '' */
.lahi-fighter-jet:before {
  content: "\e8f0";
} /* '' */
.lahi-paper-plane:before {
  content: "\e8f1";
} /* '' */
.lahi-paper-plane-empty:before {
  content: "\e8f2";
} /* '' */
.lahi-space-shuttle:before {
  content: "\e8f3";
} /* '' */
.lahi-leaf:before {
  content: "\e8f4";
} /* '' */
.lahi-font:before {
  content: "\e8f5";
} /* '' */
.lahi-bold:before {
  content: "\e8f6";
} /* '' */
.lahi-medium:before {
  content: "\e8f7";
} /* '' */
.lahi-italic:before {
  content: "\e8f8";
} /* '' */
.lahi-header:before {
  content: "\e8f9";
} /* '' */
.lahi-paragraph:before {
  content: "\e8fa";
} /* '' */
.lahi-text-height:before {
  content: "\e8fb";
} /* '' */
.lahi-text-width:before {
  content: "\e8fc";
} /* '' */
.lahi-align-left:before {
  content: "\e8fd";
} /* '' */
.lahi-align-center:before {
  content: "\e8fe";
} /* '' */
.lahi-align-right:before {
  content: "\e8ff";
} /* '' */
.lahi-align-justify:before {
  content: "\e900";
} /* '' */
.lahi-list:before {
  content: "\e901";
} /* '' */
.lahi-indent-left:before {
  content: "\e902";
} /* '' */
.lahi-indent-right:before {
  content: "\e903";
} /* '' */
.lahi-list-bullet:before {
  content: "\e904";
} /* '' */
.lahi-list-numbered:before {
  content: "\e905";
} /* '' */
.lahi-strike:before {
  content: "\e906";
} /* '' */
.lahi-underline:before {
  content: "\e907";
} /* '' */
.lahi-superscript:before {
  content: "\e908";
} /* '' */
.lahi-subscript:before {
  content: "\e909";
} /* '' */
.lahi-table:before {
  content: "\e90a";
} /* '' */
.lahi-columns:before {
  content: "\e90b";
} /* '' */
.lahi-crop:before {
  content: "\e90c";
} /* '' */
.lahi-scissors:before {
  content: "\e90d";
} /* '' */
.lahi-paste:before {
  content: "\e90e";
} /* '' */
.lahi-briefcase:before {
  content: "\e90f";
} /* '' */
.lahi-suitcase:before {
  content: "\e910";
} /* '' */
.lahi-ellipsis:before {
  content: "\e911";
} /* '' */
.lahi-ellipsis-vert:before {
  content: "\e912";
} /* '' */
.lahi-off:before {
  content: "\e913";
} /* '' */
.lahi-road:before {
  content: "\e914";
} /* '' */
.lahi-list-alt:before {
  content: "\e915";
} /* '' */
.lahi-qrcode:before {
  content: "\e916";
} /* '' */
.lahi-barcode:before {
  content: "\e917";
} /* '' */
.lahi-book:before {
  content: "\e918";
} /* '' */
.lahi-ajust:before {
  content: "\e919";
} /* '' */
.lahi-tint:before {
  content: "\e91a";
} /* '' */
.lahi-toggle-off:before {
  content: "\e91b";
} /* '' */
.lahi-toggle-on:before {
  content: "\e91c";
} /* '' */
.lahi-check:before {
  content: "\e91d";
} /* '' */
.lahi-check-empty:before {
  content: "\e91e";
} /* '' */
.lahi-circle:before {
  content: "\e91f";
} /* '' */
.lahi-circle-empty:before {
  content: "\e920";
} /* '' */
.lahi-circle-thin:before {
  content: "\e921";
} /* '' */
.lahi-circle-notch:before {
  content: "\e922";
} /* '' */
.lahi-dot-circled:before {
  content: "\e923";
} /* '' */
.lahi-asterisk:before {
  content: "\e924";
} /* '' */
.lahi-gift:before {
  content: "\e925";
} /* '' */
.lahi-fire:before {
  content: "\e926";
} /* '' */
.lahi-magnet:before {
  content: "\e927";
} /* '' */
.lahi-chart-bar:before {
  content: "\e928";
} /* '' */
.lahi-chart-area:before {
  content: "\e929";
} /* '' */
.lahi-chart-pie:before {
  content: "\e92a";
} /* '' */
.lahi-chart-line:before {
  content: "\e92b";
} /* '' */
.lahi-ticket:before {
  content: "\e92c";
} /* '' */
.lahi-credit-card:before {
  content: "\e92d";
} /* '' */
.lahi-floppy:before {
  content: "\e92e";
} /* '' */
.lahi-megaphone:before {
  content: "\e92f";
} /* '' */
.lahi-hdd:before {
  content: "\e930";
} /* '' */
.lahi-key:before {
  content: "\e931";
} /* '' */
.lahi-fork:before {
  content: "\e932";
} /* '' */
.lahi-rocket:before {
  content: "\e933";
} /* '' */
.lahi-bug:before {
  content: "\e934";
} /* '' */
.lahi-certificate:before {
  content: "\e935";
} /* '' */
.lahi-tasks:before {
  content: "\e936";
} /* '' */
.lahi-filter:before {
  content: "\e937";
} /* '' */
.lahi-beaker:before {
  content: "\e938";
} /* '' */
.lahi-magic:before {
  content: "\e939";
} /* '' */
.lahi-cab:before {
  content: "\e93a";
} /* '' */
.lahi-taxi:before {
  content: "\e93b";
} /* '' */
.lahi-truck:before {
  content: "\e93c";
} /* '' */
.lahi-bus:before {
  content: "\e93d";
} /* '' */
.lahi-bicycle:before {
  content: "\e93e";
} /* '' */
.lahi-motorcycle:before {
  content: "\e93f";
} /* '' */
.lahi-train:before {
  content: "\e940";
} /* '' */
.lahi-subway:before {
  content: "\e941";
} /* '' */
.lahi-ship:before {
  content: "\e942";
} /* '' */
.lahi-money:before {
  content: "\e943";
} /* '' */
.lahi-euro:before {
  content: "\e944";
} /* '' */
.lahi-pound:before {
  content: "\e945";
} /* '' */
.lahi-dollar:before {
  content: "\e946";
} /* '' */
.lahi-rupee:before {
  content: "\e947";
} /* '' */
.lahi-yen:before {
  content: "\e948";
} /* '' */
.lahi-rouble:before {
  content: "\e949";
} /* '' */
.lahi-shekel:before {
  content: "\e94a";
} /* '' */
.lahi-try:before {
  content: "\e94b";
} /* '' */
.lahi-won:before {
  content: "\e94c";
} /* '' */
.lahi-bitcoin:before {
  content: "\e94d";
} /* '' */
.lahi-viacoin:before {
  content: "\e94e";
} /* '' */
.lahi-sort:before {
  content: "\e94f";
} /* '' */
.lahi-sort-down:before {
  content: "\e950";
} /* '' */
.lahi-sort-up:before {
  content: "\e951";
} /* '' */
.lahi-sort-alt-up:before {
  content: "\e952";
} /* '' */
.lahi-sort-alt-down:before {
  content: "\e953";
} /* '' */
.lahi-sort-name-up:before {
  content: "\e954";
} /* '' */
.lahi-sort-name-down:before {
  content: "\e955";
} /* '' */
.lahi-sort-number-up:before {
  content: "\e956";
} /* '' */
.lahi-sort-number-down:before {
  content: "\e957";
} /* '' */
.lahi-hammer:before {
  content: "\e958";
} /* '' */
.lahi-gauge:before {
  content: "\e959";
} /* '' */
.lahi-sitemap:before {
  content: "\e95a";
} /* '' */
.lahi-spinner:before {
  content: "\e95b";
} /* '' */
.lahi-coffee:before {
  content: "\e95c";
} /* '' */
.lahi-food:before {
  content: "\e95d";
} /* '' */
.lahi-beer:before {
  content: "\e95e";
} /* '' */
.lahi-user-md:before {
  content: "\e95f";
} /* '' */
.lahi-stethoscope:before {
  content: "\e960";
} /* '' */
.lahi-heartbeat:before {
  content: "\e961";
} /* '' */
.lahi-ambulance:before {
  content: "\e962";
} /* '' */
.lahi-medkit:before {
  content: "\e963";
} /* '' */
.lahi-h-sigh:before {
  content: "\e964";
} /* '' */
.lahi-bed:before {
  content: "\e965";
} /* '' */
.lahi-hospital:before {
  content: "\e966";
} /* '' */
.lahi-building:before {
  content: "\e967";
} /* '' */
.lahi-building-filled:before {
  content: "\e968";
} /* '' */
.lahi-bank:before {
  content: "\e969";
} /* '' */
.lahi-smile:before {
  content: "\e96a";
} /* '' */
.lahi-frown:before {
  content: "\e96b";
} /* '' */
.lahi-meh:before {
  content: "\e96c";
} /* '' */
.lahi-anchor:before {
  content: "\e96d";
} /* '' */
.lahi-terminal:before {
  content: "\e96e";
} /* '' */
.lahi-eraser:before {
  content: "\e96f";
} /* '' */
.lahi-puzzle:before {
  content: "\e970";
} /* '' */
.lahi-shield:before {
  content: "\e971";
} /* '' */
.lahi-extinguisher:before {
  content: "\e972";
} /* '' */
.lahi-bullseye:before {
  content: "\e973";
} /* '' */
.lahi-wheelchair:before {
  content: "\e974";
} /* '' */
.lahi-language:before {
  content: "\e975";
} /* '' */
.lahi-graduation-cap:before {
  content: "\e976";
} /* '' */
.lahi-paw:before {
  content: "\e977";
} /* '' */
.lahi-spoon:before {
  content: "\e978";
} /* '' */
.lahi-cube:before {
  content: "\e979";
} /* '' */
.lahi-cubes:before {
  content: "\e97a";
} /* '' */
.lahi-recycle:before {
  content: "\e97b";
} /* '' */
.lahi-tree:before {
  content: "\e97c";
} /* '' */
.lahi-database:before {
  content: "\e97d";
} /* '' */
.lahi-server:before {
  content: "\e97e";
} /* '' */
.lahi-lifebuoy:before {
  content: "\e97f";
} /* '' */
.lahi-rebel:before {
  content: "\e980";
} /* '' */
.lahi-empire:before {
  content: "\e981";
} /* '' */
.lahi-bomb:before {
  content: "\e982";
} /* '' */
.lahi-soccer-ball:before {
  content: "\e983";
} /* '' */
.lahi-tty:before {
  content: "\e984";
} /* '' */
.lahi-binoculars:before {
  content: "\e985";
} /* '' */
.lahi-plug:before {
  content: "\e986";
} /* '' */
.lahi-newspaper:before {
  content: "\e987";
} /* '' */
.lahi-calc:before {
  content: "\e988";
} /* '' */
.lahi-copyright:before {
  content: "\e989";
} /* '' */
.lahi-at:before {
  content: "\e98a";
} /* '' */
.lahi-eyedropper:before {
  content: "\e98b";
} /* '' */
.lahi-brush:before {
  content: "\e98c";
} /* '' */
.lahi-birthday:before {
  content: "\e98d";
} /* '' */
.lahi-diamond:before {
  content: "\e98e";
} /* '' */
.lahi-street-view:before {
  content: "\e98f";
} /* '' */
.lahi-venus:before {
  content: "\e990";
} /* '' */
.lahi-mars:before {
  content: "\e991";
} /* '' */
.lahi-mercury:before {
  content: "\e992";
} /* '' */
.lahi-transgender:before {
  content: "\e993";
} /* '' */
.lahi-transgender-alt:before {
  content: "\e994";
} /* '' */
.lahi-venus-double:before {
  content: "\e995";
} /* '' */
.lahi-mars-double:before {
  content: "\e996";
} /* '' */
.lahi-venus-mars:before {
  content: "\e997";
} /* '' */
.lahi-mars-stroke:before {
  content: "\e998";
} /* '' */
.lahi-mars-stroke-v:before {
  content: "\e999";
} /* '' */
.lahi-mars-stroke-h:before {
  content: "\e99a";
} /* '' */
.lahi-neuter:before {
  content: "\e99b";
} /* '' */
.lahi-cc-visa:before {
  content: "\e99c";
} /* '' */
.lahi-cc-mastercard:before {
  content: "\e99d";
} /* '' */
.lahi-cc-discover:before {
  content: "\e99e";
} /* '' */
.lahi-cc-amex:before {
  content: "\e99f";
} /* '' */
.lahi-cc-paypal:before {
  content: "\e9a0";
} /* '' */
.lahi-facebook-squared:before {
  content: "\e9a1";
} /* '' */
.lahi-facebook:before {
  content: "\e9a2";
} /* '' */
.lahi-android:before {
  content: "\e9a3";
} /* '' */
.lahi-drupal:before {
  content: "\e9a4";
} /* '' */
.lahi-dropbox:before {
  content: "\e9a5";
} /* '' */
.lahi-gplus-squared:before {
  content: "\e9a6";
} /* '' */
.lahi-gplus:before {
  content: "\e9a7";
} /* '' */
.lahi-google:before {
  content: "\e9a8";
} /* '' */
.lahi-html5:before {
  content: "\e9a9";
} /* '' */
.lahi-instagram:before {
  content: "\e9aa";
} /* '' */
.lahi-linkedin-squared:before {
  content: "\e9ab";
} /* '' */
.lahi-linux:before {
  content: "\e9ac";
} /* '' */
.lahi-paypal:before {
  content: "\e9ad";
} /* '' */
.lahi-slack:before {
  content: "\e9ae";
} /* '' */
.lahi-skype:before {
  content: "\e9af";
} /* '' */
.lahi-steam-squared:before {
  content: "\e9b0";
} /* '' */
.lahi-steam:before {
  content: "\e9b1";
} /* '' */
.lahi-twitter-squared:before {
  content: "\e9b2";
} /* '' */
.lahi-twitter:before {
  content: "\e9b3";
} /* '' */
.lahi-whatsapp:before {
  content: "\e9b4";
} /* '' */
.lahi-youtube-squared:before {
  content: "\e9b5";
} /* '' */
.lahi-youtube:before {
  content: "\e9b6";
} /* '' */
.lahi-blank:before {
  content: "\e9b7";
} /* '' */
.lahi-youtube-play:before {
  content: "\e9b8";
} /* '' */
.lahi-lemon:before {
  content: "\e9b9";
} /* '' */
.lahi-spin:before {
  content: "\e9ba";
} /* '' */
.lahi-factory:before {
  content: "\e9bb";
} /* '' */
.lahi-sun:before {
  content: "\e9bc";
} /* '' */
.lahi-factory-alt:before {
  content: "\e9bd";
} /* '' */
.lahi-business:before {
  content: "\e9be";
} /* '' */
.lahi-wallet:before {
  content: "\e9bf";
} /* '' */
.lahi-github-circled:before {
  content: "\f09b";
} /* '' */
.lahi-pinterest-circled:before {
  content: "\f0d2";
} /* '' */
.lahi-pinterest-squared:before {
  content: "\f0d3";
} /* '' */
.lahi-linkedin:before {
  content: "\f0e1";
} /* '' */
.lahi-github:before {
  content: "\f113";
} /* '' */
.lahi-maxcdn:before {
  content: "\f136";
} /* '' */
.lahi-css3:before {
  content: "\f13c";
} /* '' */
.lahi-xing:before {
  content: "\f168";
} /* '' */
.lahi-xing-squared:before {
  content: "\f169";
} /* '' */
.lahi-stackoverflow:before {
  content: "\f16c";
} /* '' */
.lahi-flickr:before {
  content: "\f16e";
} /* '' */
.lahi-adn:before {
  content: "\f170";
} /* '' */
.lahi-bitbucket:before {
  content: "\f171";
} /* '' */
.lahi-bitbucket-squared:before {
  content: "\f172";
} /* '' */
.lahi-tumblr:before {
  content: "\f173";
} /* '' */
.lahi-tumblr-squared:before {
  content: "\f174";
} /* '' */
.lahi-apple:before {
  content: "\f179";
} /* '' */
.lahi-windows:before {
  content: "\f17a";
} /* '' */
.lahi-dribbble:before {
  content: "\f17d";
} /* '' */
.lahi-foursquare:before {
  content: "\f180";
} /* '' */
.lahi-trello:before {
  content: "\f181";
} /* '' */
.lahi-gittip:before {
  content: "\f184";
} /* '' */
.lahi-vkontakte:before {
  content: "\f189";
} /* '' */
.lahi-weibo:before {
  content: "\f18a";
} /* '' */
.lahi-renren:before {
  content: "\f18b";
} /* '' */
.lahi-pagelines:before {
  content: "\f18c";
} /* '' */
.lahi-stackexchange:before {
  content: "\f18d";
} /* '' */
.lahi-vimeo-squared:before {
  content: "\f194";
} /* '' */
.lahi-wordpress:before {
  content: "\f19a";
} /* '' */
.lahi-openid:before {
  content: "\f19b";
} /* '' */
.lahi-yahoo:before {
  content: "\f19e";
} /* '' */
.lahi-reddit:before {
  content: "\f1a1";
} /* '' */
.lahi-reddit-squared:before {
  content: "\f1a2";
} /* '' */
.lahi-stumbleupon-circled:before {
  content: "\f1a3";
} /* '' */
.lahi-stumbleupon:before {
  content: "\f1a4";
} /* '' */
.lahi-delicious:before {
  content: "\f1a5";
} /* '' */
.lahi-digg:before {
  content: "\f1a6";
} /* '' */
.lahi-pied-piper-squared:before {
  content: "\f1a7";
} /* '' */
.lahi-pied-piper-alt:before {
  content: "\f1a8";
} /* '' */
.lahi-joomla:before {
  content: "\f1aa";
} /* '' */
.lahi-behance:before {
  content: "\f1b4";
} /* '' */
.lahi-behance-squared:before {
  content: "\f1b5";
} /* '' */
.lahi-spotify:before {
  content: "\f1bc";
} /* '' */
.lahi-deviantart:before {
  content: "\f1bd";
} /* '' */
.lahi-soundcloud:before {
  content: "\f1be";
} /* '' */
.lahi-vine:before {
  content: "\f1ca";
} /* '' */
.lahi-codeopen:before {
  content: "\f1cb";
} /* '' */
.lahi-jsfiddle:before {
  content: "\f1cc";
} /* '' */
.lahi-git-squared:before {
  content: "\f1d2";
} /* '' */
.lahi-git:before {
  content: "\f1d3";
} /* '' */
.lahi-hacker-news:before {
  content: "\f1d4";
} /* '' */
.lahi-tencent-weibo:before {
  content: "\f1d5";
} /* '' */
.lahi-qq:before {
  content: "\f1d6";
} /* '' */
.lahi-wechat:before {
  content: "\f1d7";
} /* '' */
.lahi-slideshare:before {
  content: "\f1e7";
} /* '' */
.lahi-twitch:before {
  content: "\f1e8";
} /* '' */
.lahi-yelp:before {
  content: "\f1e9";
} /* '' */
.lahi-gwallet:before {
  content: "\f1ee";
} /* '' */
.lahi-cc-stripe:before {
  content: "\f1f5";
} /* '' */
.lahi-lastfm:before {
  content: "\f202";
} /* '' */
.lahi-lastfm-squared:before {
  content: "\f203";
} /* '' */
.lahi-ioxhost:before {
  content: "\f208";
} /* '' */
.lahi-angellist:before {
  content: "\f209";
} /* '' */
.lahi-cc:before {
  content: "\f20a";
} /* '' */
.lahi-meanpath:before {
  content: "\f20c";
} /* '' */
.lahi-buysellads:before {
  content: "\f20d";
} /* '' */
.lahi-connectdevelop:before {
  content: "\f20e";
} /* '' */
.lahi-dashcube:before {
  content: "\f210";
} /* '' */
.lahi-forumbee:before {
  content: "\f211";
} /* '' */
.lahi-leanpub:before {
  content: "\f212";
} /* '' */
.lahi-sellsy:before {
  content: "\f213";
} /* '' */
.lahi-shirtsinbulk:before {
  content: "\f214";
} /* '' */
.lahi-simplybuilt:before {
  content: "\f215";
} /* '' */
.lahi-skyatlas:before {
  content: "\f216";
} /* '' */
.lahi-genderless:before {
  content: "\f22d";
} /* '' */
.lahi-facebook-official:before {
  content: "\f230";
} /* '' */
.lahi-pinterest:before {
  content: "\f231";
} /* '' */
.lahi-y-combinator:before {
  content: "\f23b";
} /* '' */
.lahi-optin-monster:before {
  content: "\f23c";
} /* '' */
.lahi-opencart:before {
  content: "\f23d";
} /* '' */
.lahi-expeditedssl:before {
  content: "\f23e";
} /* '' */
.lahi-battery-4:before {
  content: "\f240";
} /* '' */
.lahi-battery-3:before {
  content: "\f241";
} /* '' */
.lahi-battery-2:before {
  content: "\f242";
} /* '' */
.lahi-battery-1:before {
  content: "\f243";
} /* '' */
.lahi-battery-0:before {
  content: "\f244";
} /* '' */
.lahi-mouse-pointer:before {
  content: "\f245";
} /* '' */
.lahi-i-cursor:before {
  content: "\f246";
} /* '' */
.lahi-object-group:before {
  content: "\f247";
} /* '' */
.lahi-object-ungroup:before {
  content: "\f248";
} /* '' */
.lahi-sticky-note:before {
  content: "\f249";
} /* '' */
.lahi-sticky-note-o:before {
  content: "\f24a";
} /* '' */
.lahi-cc-jcb:before {
  content: "\f24b";
} /* '' */
.lahi-cc-diners-club:before {
  content: "\f24c";
} /* '' */
.lahi-clone:before {
  content: "\f24d";
} /* '' */
.lahi-balance-scale:before {
  content: "\f24e";
} /* '' */
.lahi-hourglass-o:before {
  content: "\f250";
} /* '' */
.lahi-hourglass-1:before {
  content: "\f251";
} /* '' */
.lahi-hourglass-2:before {
  content: "\f252";
} /* '' */
.lahi-hourglass-3:before {
  content: "\f253";
} /* '' */
.lahi-hourglass:before {
  content: "\f254";
} /* '' */
.lahi-hand-grab-o:before {
  content: "\f255";
} /* '' */
.lahi-hand-paper-o:before {
  content: "\f256";
} /* '' */
.lahi-hand-scissors-o:before {
  content: "\f257";
} /* '' */
.lahi-hand-lizard-o:before {
  content: "\f258";
} /* '' */
.lahi-hand-spock-o:before {
  content: "\f259";
} /* '' */
.lahi-hand-pointer-o:before {
  content: "\f25a";
} /* '' */
.lahi-hand-peace-o:before {
  content: "\f25b";
} /* '' */
.lahi-trademark:before {
  content: "\f25c";
} /* '' */
.lahi-registered:before {
  content: "\f25d";
} /* '' */
.lahi-creative-commons:before {
  content: "\f25e";
} /* '' */
.lahi-gg:before {
  content: "\f260";
} /* '' */
.lahi-gg-circle:before {
  content: "\f261";
} /* '' */
.lahi-tripadvisor:before {
  content: "\f262";
} /* '' */
.lahi-odnoklassniki:before {
  content: "\f263";
} /* '' */
.lahi-odnoklassniki-square:before {
  content: "\f264";
} /* '' */
.lahi-get-pocket:before {
  content: "\f265";
} /* '' */
.lahi-wikipedia-w:before {
  content: "\f266";
} /* '' */
.lahi-safari:before {
  content: "\f267";
} /* '' */
.lahi-chrome:before {
  content: "\f268";
} /* '' */
.lahi-firefox:before {
  content: "\f269";
} /* '' */
.lahi-opera:before {
  content: "\f26a";
} /* '' */
.lahi-internet-explorer:before {
  content: "\f26b";
} /* '' */
.lahi-television:before {
  content: "\f26c";
} /* '' */
.lahi-contao:before {
  content: "\f26d";
} /* '' */
.lahi-500px:before {
  content: "\f26e";
} /* '' */
.lahi-amazon:before {
  content: "\f270";
} /* '' */
.lahi-calendar-plus-o:before {
  content: "\f271";
} /* '' */
.lahi-calendar-minus-o:before {
  content: "\f272";
} /* '' */
.lahi-calendar-times-o:before {
  content: "\f273";
} /* '' */
.lahi-calendar-check-o:before {
  content: "\f274";
} /* '' */
.lahi-industry:before {
  content: "\f275";
} /* '' */
.lahi-map-pin:before {
  content: "\f276";
} /* '' */
.lahi-map-signs:before {
  content: "\f277";
} /* '' */
.lahi-map-o:before {
  content: "\f278";
} /* '' */
.lahi-map:before {
  content: "\f279";
} /* '' */
.lahi-commenting:before {
  content: "\f27a";
} /* '' */
.lahi-commenting-o:before {
  content: "\f27b";
} /* '' */
.lahi-houzz:before {
  content: "\f27c";
} /* '' */
.lahi-vimeo:before {
  content: "\f27d";
} /* '' */
.lahi-black-tie:before {
  content: "\f27e";
} /* '' */
.lahi-fonticons:before {
  content: "\f280";
} /* '' */
.lahi-reddit-alien:before {
  content: "\f281";
} /* '' */
.lahi-edge:before {
  content: "\f282";
} /* '' */
.lahi-credit-card-alt:before {
  content: "\f283";
} /* '' */
.lahi-codiepie:before {
  content: "\f284";
} /* '' */
.lahi-modx:before {
  content: "\f285";
} /* '' */
.lahi-fort-awesome:before {
  content: "\f286";
} /* '' */
.lahi-usb:before {
  content: "\f287";
} /* '' */
.lahi-product-hunt:before {
  content: "\f288";
} /* '' */
.lahi-mixcloud:before {
  content: "\f289";
} /* '' */
.lahi-scribd:before {
  content: "\f28a";
} /* '' */
.lahi-pause-circle:before {
  content: "\f28b";
} /* '' */
.lahi-pause-circle-o:before {
  content: "\f28c";
} /* '' */
.lahi-stop-circle:before {
  content: "\f28d";
} /* '' */
.lahi-stop-circle-o:before {
  content: "\f28e";
} /* '' */
.lahi-shopping-bag:before {
  content: "\f290";
} /* '' */
.lahi-shopping-basket:before {
  content: "\f291";
} /* '' */
.lahi-hashtag:before {
  content: "\f292";
} /* '' */
.lahi-bluetooth:before {
  content: "\f293";
} /* '' */
.lahi-bluetooth-b:before {
  content: "\f294";
} /* '' */
.lahi-percent:before {
  content: "\f295";
} /* '' */
.lahi-gitlab:before {
  content: "\f296";
} /* '' */
.lahi-wpbeginner:before {
  content: "\f297";
} /* '' */
.lahi-wpforms:before {
  content: "\f298";
} /* '' */
.lahi-envira:before {
  content: "\f299";
} /* '' */
.lahi-universal-access:before {
  content: "\f29a";
} /* '' */
.lahi-wheelchair-alt:before {
  content: "\f29b";
} /* '' */
.lahi-question-circle-o:before {
  content: "\f29c";
} /* '' */
.lahi-blind:before {
  content: "\f29d";
} /* '' */
.lahi-audio-description:before {
  content: "\f29e";
} /* '' */
.lahi-volume-control-phone:before {
  content: "\f2a0";
} /* '' */
.lahi-braille:before {
  content: "\f2a1";
} /* '' */
.lahi-assistive-listening-systems:before {
  content: "\f2a2";
} /* '' */
.lahi-american-sign-language-interpreting:before {
  content: "\f2a3";
} /* '' */
.lahi-asl-interpreting:before {
  content: "\f2a4";
} /* '' */
.lahi-glide:before {
  content: "\f2a5";
} /* '' */
.lahi-glide-g:before {
  content: "\f2a6";
} /* '' */
.lahi-sign-language:before {
  content: "\f2a7";
} /* '' */
.lahi-low-vision:before {
  content: "\f2a8";
} /* '' */
.lahi-viadeo:before {
  content: "\f2a9";
} /* '' */
.lahi-viadeo-square:before {
  content: "\f2aa";
} /* '' */
.lahi-snapchat:before {
  content: "\f2ab";
} /* '' */
.lahi-snapchat-ghost:before {
  content: "\f2ac";
} /* '' */
.lahi-snapchat-square:before {
  content: "\f2ad";
} /* '' */
.lahi-pied-piper:before {
  content: "\f2ae";
} /* '' */
.lahi-first-order:before {
  content: "\f2b0";
} /* '' */
.lahi-yoast:before {
  content: "\f2b1";
} /* '' */
.lahi-themeisle:before {
  content: "\f2b2";
} /* '' */
.lahi-google-plus-circle:before {
  content: "\f2b3";
} /* '' */
.lahi-font-awesome:before {
  content: "\f2b4";
} /* '' */
.lahi-handshake-o:before {
  content: "\f2b5";
} /* '' */
.lahi-envelope-open:before {
  content: "\f2b6";
} /* '' */
.lahi-envelope-open-o:before {
  content: "\f2b7";
} /* '' */
.lahi-linode:before {
  content: "\f2b8";
} /* '' */
.lahi-address-book:before {
  content: "\f2b9";
} /* '' */
.lahi-address-book-o:before {
  content: "\f2ba";
} /* '' */
.lahi-address-card:before {
  content: "\f2bb";
} /* '' */
.lahi-address-card-o:before {
  content: "\f2bc";
} /* '' */
.lahi-user-circle:before {
  content: "\f2bd";
} /* '' */
.lahi-user-circle-o:before {
  content: "\f2be";
} /* '' */
.lahi-user-o:before {
  content: "\f2c0";
} /* '' */
.lahi-id-badge:before {
  content: "\f2c1";
} /* '' */
.lahi-id-card:before {
  content: "\f2c2";
} /* '' */
.lahi-id-card-o:before {
  content: "\f2c3";
} /* '' */
.lahi-quora:before {
  content: "\f2c4";
} /* '' */
.lahi-free-code-camp:before {
  content: "\f2c5";
} /* '' */
.lahi-telegram:before {
  content: "\f2c6";
} /* '' */
.lahi-thermometer:before {
  content: "\f2c7";
} /* '' */
.lahi-thermometer-3:before {
  content: "\f2c8";
} /* '' */
.lahi-thermometer-2:before {
  content: "\f2c9";
} /* '' */
.lahi-thermometer-quarter:before {
  content: "\f2ca";
} /* '' */
.lahi-thermometer-0:before {
  content: "\f2cb";
} /* '' */
.lahi-shower:before {
  content: "\f2cc";
} /* '' */
.lahi-bath:before {
  content: "\f2cd";
} /* '' */
.lahi-podcast:before {
  content: "\f2ce";
} /* '' */
.lahi-window-maximize:before {
  content: "\f2d0";
} /* '' */
.lahi-window-minimize:before {
  content: "\f2d1";
} /* '' */
.lahi-window-restore:before {
  content: "\f2d2";
} /* '' */
.lahi-window-close:before {
  content: "\f2d3";
} /* '' */
.lahi-window-close-o:before {
  content: "\f2d4";
} /* '' */
.lahi-bandcamp:before {
  content: "\f2d5";
} /* '' */
.lahi-grav:before {
  content: "\f2d6";
} /* '' */
.lahi-etsy:before {
  content: "\f2d7";
} /* '' */
.lahi-imdb:before {
  content: "\f2d8";
} /* '' */
.lahi-ravelry:before {
  content: "\f2d9";
} /* '' */
.lahi-eercast:before {
  content: "\f2da";
} /* '' */
.lahi-microchip:before {
  content: "\f2db";
} /* '' */
.lahi-snowflake-o:before {
  content: "\f2dc";
} /* '' */
.lahi-superpowers:before {
  content: "\f2dd";
} /* '' */
.lahi-wpexplorer:before {
  content: "\f2de";
} /* '' */
.lahi-meetup:before {
  content: "\f2e0";
} /* '' */
.lahi-github-squared:before {
  content: "\f300";
} /* '' */
